<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %>.</h1>
    <p>
      Welcome to bookers2!!<br/>
      ご登録ありがとうございます。
      本の海を楽しんでいただけたら嬉しいです！
    </p>
  </body>
</html>