<p id="notice"><%= notice %></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <h2>Follower Users</h2>
  </div>
  <% if @user.followed_users.count == 0 %>
    <div class="row">
      <p>ユーザーはいません</p>
    </div>
  <% else %>
    <%= render 'users', users: @followeds %>
  <% end %>
</div>