<% if @error.errors.any? %>
  <div id="error_explanation">
    <% if @error.errors.count == 1 %>
      <h3><% @error.errors.count %> error prohibited this obj from being saved:</h3>
    <% else %>
      <h3><% @error.errors.count %> errors prohibited this obj from being saved:</h3>
    <% end %>

    <ul>
      <% @error.errors.full_massages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>